In [46]:
import pandas as pd

# Cases

In [47]:
df = pd.read_csv(
    "./cumulative-confirmed-covid-19-cases.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457250 entries, 0 to 457249
Data columns (total 3 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Entity                             457250 non-null  object
 1   Day                                457250 non-null  object
 2   Total confirmed cases of COVID-19  457250 non-null  int64
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

In [48]:
df.rename(columns={"Entity": "country", "Day": "date",
          "Total confirmed cases of COVID-19": "cases"}, inplace=True)
df.head()

       country        date  cases
0  Afghanistan  2020-01-04      0
1  Afghanistan  2020-01-05      0
2  Afghanistan  2020-01-06      0
3  Afghanistan  2020-01-07      0
4  Afghanistan  2020-01-08      0

In [49]:
df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

df.drop(columns=["date"], inplace=True)

df = df[['country', 'year', 'month', 'day', 'cases']]
df.head()

       country  year  month  day  cases
0  Afghanistan  2020      1    4      0
1  Afghanistan  2020      1    5      0
2  Afghanistan  2020      1    6      0
3  Afghanistan  2020      1    7      0
4  Afghanistan  2020      1    8      0

In [50]:
df.to_csv("./clean/covid_cases.csv", index=False)

# Deaths

In [51]:
df_d = pd.read_csv("./cumulative-confirmed-covid-19-deaths.csv")
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457250 entries, 0 to 457249
Data columns (total 3 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Entity                                  457250 non-null  object
 1   Day                                     457250 non-null  object
 2   Total confirmed deaths due to COVID-19  457250 non-null  int64
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

In [52]:
df_d.rename(columns={"Entity": "country", "Day": "date",
                     "Total confirmed deaths due to COVID-19": "deaths"}, inplace=True)
df_d.head()

       country        date  deaths
0  Afghanistan  2020-01-04       0
1  Afghanistan  2020-01-05       0
2  Afghanistan  2020-01-06       0
3  Afghanistan  2020-01-07       0
4  Afghanistan  2020-01-08       0

In [53]:
df_d['date'] = pd.to_datetime(df_d['date'])

df_d['year'] = df_d['date'].dt.year
df_d['month'] = df_d['date'].dt.month
df_d['day'] = df_d['date'].dt.day

df_d.drop(columns=["date"], inplace=True)

df_d = df_d[['country', 'year', 'month', 'day', 'deaths']]
df_d.head()

       country  year  month  day  deaths
0  Afghanistan  2020      1    4       0
1  Afghanistan  2020      1    5       0
2  Afghanistan  2020      1    6       0
3  Afghanistan  2020      1    7       0
4  Afghanistan  2020      1    8       0

In [54]:
df_d.to_csv("./clean/covid_deaths.csv", index=False)

# Vaccines

In [58]:
df_v = pd.read_csv(
    "./number-of-people-who-received-at-least-one-dose-of-covid-19-vaccine.csv")
df_v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79011 entries, 0 to 79010
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          79011 non-null  object
 1   Day                             79011 non-null  object
 2   People vaccinated (cumulative)  79011 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.8+ MB

In [59]:
df_v.rename(columns={"Entity": "country", "Day": "date",
                     "People vaccinated (cumulative)": "vaccines"}, inplace=True)
df_v.head()

       country        date  vaccines
0  Afghanistan  2021-02-22       0.0
1  Afghanistan  2021-02-28    8200.0
2  Afghanistan  2021-03-16   54000.0
3  Afghanistan  2021-04-07  120000.0
4  Afghanistan  2021-04-22  240000.0

In [60]:
df_v['date'] = pd.to_datetime(df_v['date'])

df_v['year'] = df_v['date'].dt.year
df_v['month'] = df_v['date'].dt.month
df_v['day'] = df_v['date'].dt.day

df_v.drop(columns=["date"], inplace=True)

df_v = df_v[['country', 'year', 'month', 'day', 'vaccines']]
df_v.head()

       country  year  month  day  vaccines
0  Afghanistan  2021      2   22       0.0
1  Afghanistan  2021      2   28    8200.0
2  Afghanistan  2021      3   16   54000.0
3  Afghanistan  2021      4    7  120000.0
4  Afghanistan  2021      4   22  240000.0

In [61]:
df_v.to_csv("./clean/covid_vaccines.csv", index=False)