In [4]:
import pandas as pd
import numpy as np
import glob

In [7]:
df = pd.read_csv('estat_namq_10_gdp_filtered.csv')
df.columns = df.columns.str.strip()
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421 entries, 0 to 420
Data columns (total 40 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   freq     421 non-null    object
 1   unit     421 non-null    object
 2   s_adj    421 non-null    object
 3   na_item  421 non-null    object
 4   geo      421 non-null    object
 5   2016-Q1  421 non-null    object
 6   2016-Q2  421 non-null    object
 7   2016-Q3  421 non-null    object
 8   2016-Q4  421 non-null    object
 9   2017-Q1  421 non-null    object
 10  2017-Q2  421 non-null    object
 11  2017-Q3  421 non-null    object
 12  2017-Q4  421 non-null    object
 13  2018-Q1  421 non-null    object
 14  2018-Q2  421 non-null    object
 15  2018-Q3  421 non-null    object
 16  2018-Q4  421 non-null    object
 17  2019-Q1  421 non-null    object
 18  2019-Q2  421 non-null    object
 19  2019-Q3  421 non-null    object
 20  2019-Q4  421 non-null    object
 21  2020-Q1  421 non-null    object
 22  2020-Q2  421 non-null    object
 23  2020-Q3  421 non-null    object
 24  2020-Q4  421 non-null    object
 25  2021-Q1  421 non-null    object
 26  2021-Q2  421 non-null    object
 27  2021-Q3  421 non-null    object
 28  2021-Q4  421 non-null    object
 29  2022-Q1  421 non-null    object
 30  2022-Q2  421 non-null    object
 31  2022-Q3  421 non-null    object
 32  2022-Q4  421 non-null    object
 33  2023-Q1  421 non-null    object
 34  2023-Q2  421 non-null    object
 35  2023-Q3  421 non-null    object
 36  2023-Q4  421 non-null    object
 37  2024-Q1  421 non-null    object
 38  2024-Q2  421 non-null    object
 39  2024-Q3  421 non-null    object
dtypes: object(40)
memory usage: 131.7+ KB

In [8]:
path = '../ESTAT_CODELISTS/*.tsv'
files = glob.glob(path)
dataframes = {file.split('/')[-1].replace('.tsv', ''): pd.read_csv(
    file, sep='\t') for file in files}

In [9]:
for col in ["freq", "unit", "s_adj", "na_item", "geo"]:
    curr_codelist = dataframes[f"ESTAT_{col.upper()}"]
    df[col] = df[col].map(curr_codelist.set_index('CODE')['Label'])

df.rename(columns={'geo': 'country'}, inplace=True)
df.head()

,freq,unit,s_adj,na_item,country,2016-Q1,2016-Q2,2016-Q3,2016-Q4,2017-Q1,...,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3
0,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Albania,2.23,0.55,0.24,1.07,2.30,...,-0.87,3.10,-0.12,0.50 p,0.99 p,2.86 p,-0.20 p,0.36 p,1.07 p,2.76 p
1,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Bosnia and Herzegovina,0.98,0.55,0.79,1.29,0.27,...,1.07,0.01,0.51,0.32,0.38,4.29,1.34,1.50,:,:
2,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Switzerland,0.15,0.98,0.42,0.16,0.25,...,0.80,0.19,0.12,0.58,-0.54,0.14,0.20,0.51,0.72,0.38
3,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Iceland,-3.23,7.06,1.74,3.60,-4.33,...,4.55,-0.19,3.24,1.45,1.41,-2.36,1.01,-0.32,1.45,-1.11
4,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,North Macedonia,-0.54,1.86,0.79,0.66,0.39,...,0.40,-0.11,0.65,0.27 p,0.87 p,0.67 p,0.83 p,0.20 e,1.06 e,0.72 e

In [10]:
df.replace(": z", np.nan, inplace=True)
df.replace(":", np.nan, inplace=True)

In [11]:
year_cols = [col for col in df.columns if col.isdigit()]

for col in year_cols:
    df[col] = df[col].astype(str).str.extract(r'(\d+)').astype(float)

In [12]:
df.head()

,freq,unit,s_adj,na_item,country,2016-Q1,2016-Q2,2016-Q3,2016-Q4,2017-Q1,...,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3
0,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Albania,2.23,0.55,0.24,1.07,2.30,...,-0.87,3.10,-0.12,0.50 p,0.99 p,2.86 p,-0.20 p,0.36 p,1.07 p,2.76 p
1,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Bosnia and Herzegovina,0.98,0.55,0.79,1.29,0.27,...,1.07,0.01,0.51,0.32,0.38,4.29,1.34,1.50,NaN,NaN
2,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Switzerland,0.15,0.98,0.42,0.16,0.25,...,0.80,0.19,0.12,0.58,-0.54,0.14,0.20,0.51,0.72,0.38
3,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,Iceland,-3.23,7.06,1.74,3.60,-4.33,...,4.55,-0.19,3.24,1.45,1.41,-2.36,1.01,-0.32,1.45,-1.11
4,Quarterly,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Gross domestic product at market prices,North Macedonia,-0.54,1.86,0.79,0.66,0.39,...,0.40,-0.11,0.65,0.27 p,0.87 p,0.67 p,0.83 p,0.20 e,1.06 e,0.72 e

In [13]:
for col in df.columns:
    if not col.isdigit() and df[col].nunique() == 1:
        df.drop(columns=[col], inplace=True)

In [14]:
df.head()

,unit,s_adj,country,2016-Q1,2016-Q2,2016-Q3,2016-Q4,2017-Q1,2017-Q2,2017-Q3,...,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3
0,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Albania,2.23,0.55,0.24,1.07,2.30,0.40,-0.52,...,-0.87,3.10,-0.12,0.50 p,0.99 p,2.86 p,-0.20 p,0.36 p,1.07 p,2.76 p
1,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Bosnia and Herzegovina,0.98,0.55,0.79,1.29,0.27,1.08,1.23,...,1.07,0.01,0.51,0.32,0.38,4.29,1.34,1.50,NaN,NaN
2,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Switzerland,0.15,0.98,0.42,0.16,0.25,0.04,0.50,...,0.80,0.19,0.12,0.58,-0.54,0.14,0.20,0.51,0.72,0.38
3,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",Iceland,-3.23,7.06,1.74,3.60,-4.33,3.67,-0.43,...,4.55,-0.19,3.24,1.45,1.41,-2.36,1.01,-0.32,1.45,-1.11
4,"Contribution to GDP growth, percentage point c...","Seasonally adjusted data, not calendar adjuste...",North Macedonia,-0.54,1.86,0.79,0.66,0.39,-1.16,0.78,...,0.40,-0.11,0.65,0.27 p,0.87 p,0.67 p,0.83 p,0.20 e,1.06 e,0.72 e

In [15]:
df.to_csv("./clean/estat_namq_10_gdp_filtered.csv", index=False)