In [115]:
import pandas as pd

data = pd.read_csv('covid.csv')
col_desc = pd.read_csv('columns_description.csv')

In [116]:
data.head()

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,NaN,2020,1,1,NaN,NaN,NaN,NaN,NaN,...,Asia,40578846.0,62.215546,16.752,1516.2733,NaN,10.9,48.214695,0.39,0.462
1,Afghanistan,NaN,2020,1,2,NaN,NaN,NaN,NaN,NaN,...,Asia,40578846.0,62.215546,16.752,1516.2733,NaN,10.9,48.214695,0.39,0.462
2,Afghanistan,NaN,2020,1,3,NaN,NaN,NaN,NaN,NaN,...,Asia,40578846.0,62.215546,16.752,1516.2733,NaN,10.9,48.214695,0.39,0.462
3,Afghanistan,0.0,2020,1,4,0.0,NaN,0.0,0.0,NaN,...,Asia,40578846.0,62.215546,16.752,1516.2733,NaN,10.9,48.214695,0.39,0.462
4,Afghanistan,0.0,2020,1,5,0.0,NaN,0.0,0.0,NaN,...,Asia,40578846.0,62.215546,16.752,1516.2733,NaN,10.9,48.214695,0.39,0.462

In [117]:
europe = data[data['continent']=='Europe'].reset_index(drop=True)

In [118]:
europe

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Albania,NaN,2020,1,1,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
1,Albania,NaN,2020,1,2,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
2,Albania,NaN,2020,1,3,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
3,Albania,0.0,2020,1,4,0.0,NaN,0.00,0.0,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
4,Albania,0.0,2020,1,5,0.0,NaN,0.00,0.0,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93064,Vatican,26.0,2024,12,25,0.0,0.0,50682.26,0.0,0.0,...,Europe,513.0,1165.909000,59.875,NaN,NaN,NaN,NaN,NaN,NaN
93065,Vatican,26.0,2024,12,26,0.0,0.0,50682.26,0.0,0.0,...,Europe,513.0,1165.909000,59.875,NaN,NaN,NaN,NaN,NaN,NaN
93066,Vatican,26.0,2024,12,27,0.0,0.0,50682.26,0.0,0.0,...,Europe,513.0,1165.909000,59.875,NaN,NaN,NaN,NaN,NaN,NaN
93067,Vatican,26.0,2024,12,28,0.0,0.0,50682.26,0.0,0.0,...,Europe,513.0,1165.909000,59.875,NaN,NaN,NaN,NaN,NaN,NaN
93068,Vatican,26.0,2024,12,29,0.0,0.0,50682.26,0.0,0.0,...,Europe,513.0,1165.909000,59.875,NaN,NaN,NaN,NaN,NaN,NaN

## 31/12/2024

In [119]:
idx = (europe['total_cases'].isnull()) & (europe['year'] == 2024) & (europe['month']==12)
europe[idx]

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
1825,Albania,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
3651,Andorra,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,79722.0,169.621280,42.832,NaN,NaN,9.7,NaN,NaN,0.884
7302,Belarus,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,9173241.0,45.199512,40.192,19092.111,0.000000,5.6,NaN,10.83,0.801
10953,Bosnia and Herzegovina,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,3204805.0,62.593850,44.559,16737.227,0.074979,9.1,97.261055,3.49,0.779
23729,Faroe Islands,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,54039.0,39.444527,37.538,NaN,NaN,NaN,NaN,NaN,NaN
31027,Gibraltar,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,37631.0,3763.100000,38.948,NaN,NaN,NaN,NaN,NaN,NaN
47444,Kosovo,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,1717950.0,NaN,30.808,12675.068,0.440241,NaN,NaN,NaN,NaN
51095,Liechtenstein,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,39336.0,245.850000,44.014,NaN,NaN,6.1,NaN,NaN,0.942
58396,Moldova,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,3039987.0,92.204640,37.478,13308.417,0.000000,5.6,86.979416,5.66,0.763
60222,Monaco,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,38949.0,18689.541000,54.975,NaN,NaN,6.2,NaN,13.80,NaN
65692,North Macedonia,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,1840236.0,72.967330,39.910,17128.760,2.663351,6.1,99.672844,4.28,0.765
74818,Russia,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,145579890.0,8.889359,39.071,27450.450,0.010298,5.6,NaN,7.12,0.821
76644,San Marino,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,34113.0,568.550000,46.782,61609.010,NaN,7.4,NaN,3.80,0.867
78470,Serbia,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,6791218.0,80.761310,43.675,20885.889,1.242829,9.1,98.130120,5.61,0.805
89421,Ukraine,NaN,2024,12,31,NaN,NaN,NaN,NaN,NaN,...,Europe,41048767.0,70.847020,41.451,10731.440,0.028826,5.6,NaN,7.46,0.734

In [120]:
true_idx_values = idx[idx].index.values
for i in true_idx_values:
    for col in europe.columns:
        if "new" in col:
            europe.loc[i, col] = 0
        else:
            europe.loc[i, col] = europe.loc[i-1, col]

In [121]:
europe[idx]

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
1825,Albania,337196.0,2024,12,29,0.0,0.0,119251.030,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
3651,Andorra,48015.0,2024,12,29,0.0,0.0,602280.440,0.0,0.0,...,Europe,79722.0,169.621280,42.832,NaN,NaN,9.7,NaN,NaN,0.884
7302,Belarus,994045.0,2024,12,29,0.0,0.0,108363.555,0.0,0.0,...,Europe,9173241.0,45.199512,40.192,19092.111,0.000000,5.6,NaN,10.83,0.801
10953,Bosnia and Herzegovina,404120.0,2024,12,29,0.0,0.0,126098.160,0.0,0.0,...,Europe,3204805.0,62.593850,44.559,16737.227,0.074979,9.1,97.261055,3.49,0.779
23729,Faroe Islands,34658.0,2024,12,29,0.0,0.0,641351.600,0.0,0.0,...,Europe,54039.0,39.444527,37.538,NaN,NaN,NaN,NaN,NaN,NaN
31027,Gibraltar,20550.0,2024,12,29,0.0,0.0,546092.300,0.0,0.0,...,Europe,37631.0,3763.100000,38.948,NaN,NaN,NaN,NaN,NaN,NaN
47444,Kosovo,274279.0,2024,12,29,0.0,0.0,159654.830,0.0,0.0,...,Europe,1717950.0,NaN,30.808,12675.068,0.440241,NaN,NaN,NaN,NaN
51095,Liechtenstein,21613.0,2024,12,29,0.0,0.0,549445.800,0.0,0.0,...,Europe,39336.0,245.850000,44.014,NaN,NaN,6.1,NaN,NaN,0.942
58396,Moldova,650867.0,2024,12,29,0.0,0.0,214101.900,0.0,0.0,...,Europe,3039987.0,92.204640,37.478,13308.417,0.000000,5.6,86.979416,5.66,0.763
60222,Monaco,17181.0,2024,12,29,0.0,0.0,441115.300,0.0,0.0,...,Europe,38949.0,18689.541000,54.975,NaN,NaN,6.2,NaN,13.80,NaN
65692,North Macedonia,352060.0,2024,12,29,0.0,0.0,191312.420,0.0,0.0,...,Europe,1840236.0,72.967330,39.910,17128.760,2.663351,6.1,99.672844,4.28,0.765
74818,Russia,24799330.0,2024,12,29,0.0,0.0,170348.600,0.0,0.0,...,Europe,145579890.0,8.889359,39.071,27450.450,0.010298,5.6,NaN,7.12,0.821
76644,San Marino,25292.0,2024,12,29,0.0,0.0,741418.250,0.0,0.0,...,Europe,34113.0,568.550000,46.782,61609.010,NaN,7.4,NaN,3.80,0.867
78470,Serbia,2583470.0,2024,12,29,0.0,0.0,380413.340,0.0,0.0,...,Europe,6791218.0,80.761310,43.675,20885.889,1.242829,9.1,98.130120,5.61,0.805
89421,Ukraine,5541114.0,2024,12,29,0.0,0.0,134988.560,0.0,0.0,...,Europe,41048767.0,70.847020,41.451,10731.440,0.028826,5.6,NaN,7.46,0.734

## Pre marzo 2020

In [122]:
idx = (europe['total_cases'].isnull())
europe.loc[idx, 'total_cases']=0.0
europe[idx]

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Albania,0.0,2020,1,1,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
1,Albania,0.0,2020,1,2,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
2,Albania,0.0,2020,1,3,NaN,NaN,NaN,NaN,NaN,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
1826,Andorra,0.0,2020,1,1,NaN,NaN,NaN,NaN,NaN,...,Europe,79722.0,169.621280,42.832,NaN,NaN,9.7,NaN,NaN,0.884
1827,Andorra,0.0,2020,1,2,NaN,NaN,NaN,NaN,NaN,...,Europe,79722.0,169.621280,42.832,NaN,NaN,9.7,NaN,NaN,0.884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87597,Ukraine,0.0,2020,1,2,NaN,NaN,NaN,NaN,NaN,...,Europe,41048767.0,70.847020,41.451,10731.440,0.028826,5.6,NaN,7.46,0.734
87598,Ukraine,0.0,2020,1,3,NaN,NaN,NaN,NaN,NaN,...,Europe,41048767.0,70.847020,41.451,10731.440,0.028826,5.6,NaN,7.46,0.734
89422,United Kingdom,0.0,2020,1,1,NaN,NaN,NaN,NaN,NaN,...,Europe,68179315.0,281.814200,39.504,47587.168,0.245101,6.3,NaN,2.46,0.940
89423,United Kingdom,0.0,2020,1,2,NaN,NaN,NaN,NaN,NaN,...,Europe,68179315.0,281.814200,39.504,47587.168,0.245101,6.3,NaN,2.46,0.940
89424,United Kingdom,0.0,2020,1,3,NaN,NaN,NaN,NaN,NaN,...,Europe,68179315.0,281.814200,39.504,47587.168,0.245101,6.3,NaN,2.46,0.940

In [123]:
for col in europe.columns:
    if "new" in col or "total" in col or "cases" in col:
        if europe.loc[idx, col].isnull().values.any():
        	europe.loc[idx, col] = 0.0
        
europe[idx]

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Albania,0.0,2020,1,1,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
1,Albania,0.0,2020,1,2,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
2,Albania,0.0,2020,1,3,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
1826,Andorra,0.0,2020,1,1,0.0,0.0,0.0,0.0,0.0,...,Europe,79722.0,169.621280,42.832,NaN,NaN,9.7,NaN,NaN,0.884
1827,Andorra,0.0,2020,1,2,0.0,0.0,0.0,0.0,0.0,...,Europe,79722.0,169.621280,42.832,NaN,NaN,9.7,NaN,NaN,0.884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87597,Ukraine,0.0,2020,1,2,0.0,0.0,0.0,0.0,0.0,...,Europe,41048767.0,70.847020,41.451,10731.440,0.028826,5.6,NaN,7.46,0.734
87598,Ukraine,0.0,2020,1,3,0.0,0.0,0.0,0.0,0.0,...,Europe,41048767.0,70.847020,41.451,10731.440,0.028826,5.6,NaN,7.46,0.734
89422,United Kingdom,0.0,2020,1,1,0.0,0.0,0.0,0.0,0.0,...,Europe,68179315.0,281.814200,39.504,47587.168,0.245101,6.3,NaN,2.46,0.940
89423,United Kingdom,0.0,2020,1,2,0.0,0.0,0.0,0.0,0.0,...,Europe,68179315.0,281.814200,39.504,47587.168,0.245101,6.3,NaN,2.46,0.940
89424,United Kingdom,0.0,2020,1,3,0.0,0.0,0.0,0.0,0.0,...,Europe,68179315.0,281.814200,39.504,47587.168,0.245101,6.3,NaN,2.46,0.940

In [137]:
cols_to_zero = ['new_cases', 'new_cases_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths', 'new_deaths', 'new_deaths_smoothed',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'icu_patients',
       'icu_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million',
       'reproduction_rate', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred']

In [139]:
idx = europe['total_cases']==0
idx_to_zero = idx[idx].index.values

for i in idx_to_zero:
    for col in cols_to_zero:
        if pd.isna(europe.loc[i, col]):
            europe.loc[i, col] = 0

In [140]:
europe.head()

,country,total_cases,year,month,day,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,continent,population,population_density,median_age,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Albania,0.0,2020,1,1,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
1,Albania,0.0,2020,1,2,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
2,Albania,0.0,2020,1,3,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
3,Albania,0.0,2020,1,4,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789
4,Albania,0.0,2020,1,5,0.0,0.0,0.0,0.0,0.0,...,Europe,2827615.0,103.197624,35.943,15492.067,0.021277,10.2,NaN,2.89,0.789

In [141]:
europe.to_csv('covid.csv', index=False)